img.imgt {
	border: none;
	vertical-align: top;
	margin: 0px;
	padding: 0px;
}

.hand {
	cursor: hand;
}

.esl_title {
	font-weight: bold;
	height: 25px;
	line-height: 25px;
	background-image: url(../images/item_bg.gif);
	background-position: left top;
	background-repeat: repeat-x;
	color: #595959;
	border: 2px solid #525252;
	text-align: center;
	padding-right: 200px;
	margin-bottom: 13px;
}

.esl_redText {
	color: #ff0000;
}

.esl_doSearchLnk {
	height: 18px;
	line-height: 18px;
	background-image: url(../images/reddisc.gif);
	background-position: 4px 4px;
	background-repeat: no-repeat;
	background-color: #dfdfdf;
	padding-left: 18px; 
	margin-bottom: 3px;
}

.esl_doSearchLnk a {
	color: #595959;
}

table.esl_table tbody th, table.esl_table tbody td, table.esl_resultTable tbody th, table.esl_resultTable tbody td {
	padding-left: 6px;
	padding-top: 4px;
	display: inline;
	text-align: left;
	height: 31px;
	font-weight: normal;
	vertical-align: middle;
	border: 1px solid #d4d4d4;
}

table.esl_table tbody th, table.esl_resultTable tbody th {
	border-width: 1px 0px 0px 1px !important;
	background-color: #ECECEC;
}

table.esl_table tbody th {
	font-weight: bold;
}

table.esl_table tbody td, table.esl_resultTable tbody td {
	border-width: 1px 1px 0px 1px;
}

table tbody tr td.esl_bord_bot, table tbody tr th.esl_bord_bot {
	border-bottom: 1px solid #d4d4d4 !important;
}

table.esl_resultTable thead td {
	padding: 2px;
	background-color: #525252;	
}

table.esl_resultTable thead td div {
	font-weight: bold;
	height: 25px;
	padding: 0px 5px;
	line-height: 25px;
	background-image: url(../images/item_bg.gif);
	background-position: left top;
	background-repeat: repeat-x;
}

.esl_thead_bordLeft {
	border-left: 2px solid #ffffff;
}

/* back link START */

.esl_bottomNavBar {
	background-color: #E8E8E8;
	border: 1px solid #bebebe;
	height: 30px;
}

.esl_shoppingStepL {
	margin-left: 6px;
	margin-top: 8px;
	text-align: left;
}

.esl_shoppingStepL img {
	border: none;
	vertical-align: middle;
}

/* back link END */

.esl_mbt8 {
	margin: 8px auto;
}

.esl_submit {
	height: 25px;
	line-height: 16px;
	vertical-align: middle;
	margin: 5px 5px;
	background-color: #e2e2e2;
	background-image: url(/site/modules/extended_store_locator/images/pmButton.gif);
	background-repeat: repeat-x;
	background-position: left top;
	padding: 0px;
	border: 1px solid #8a8a8a;
	font-weight: bold;
	cursor: hand;
	width: 65px;
}
